DATABASE_URL="postgresql://postgres.xxxxx:PASSWORD@aws-0-us-east-1.pooler.supabase.com:5432/postgres?schema=public"

JWT_SECRET="secret-super-security-here"

NODE_ENV="production"

API_PORT=3000
CLIENT_PORT=5173
