DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/postgres
SESSION_LIFETIME_SECONDS=60

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/index.php?action=oauth_callback&provider=google

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=http://localhost:8000/index.php?action=oauth_callback&provider=facebook

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:8000/index.php?action=oauth_callback&provider=github
