@model EmployeeApp.Models.Employee

<script src="https://unpkg.com/vue@3"></script>

<div id="app">

    <h2>Register Employee</h2>

    <form method="post">

        <input name="EmployeeId" placeholder="Employee ID" />
        <br><br>

        <input name="Name" placeholder="Name" />
        <br><br>

        <input name="Address" placeholder="Address" />
        <br><br>

        <input name="Cellphone" placeholder="Cellphone" />
        <br><br>

        <input name="Email" placeholder="Email" />
        <br><br>

        <input name="Salary" placeholder="Salary" />
        <br><br>

        <button type="submit">
            Save
        </button>

    </form>

</div>