/vendor/
node_modules/
dist/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

.php-cs-fixer.cache
.phpunit.result.cache

.env
.env.local

error_log
*.log
storage/sessions/sess_*
scratch/
.gemini/
